* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.App {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headerContainer h1 {
  color: #111111;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: fantasy;
  text-shadow: 1px 1px;
}

.headerContainer input {
  padding: 5px 10px 5px 10px;
  width: 280px;
  height: 40px;
  background-color: #dbd8e3;
  border: none;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonContainer img {
  height: 45px;
  margin-left: 30px;
  cursor: pointer;
}

.buttonContainer img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

::placeholder {
  font-weight: 500;
  text-transform: uppercase;
}

.headerContainer input:focus {
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}

.headerContainer input:hover {
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease-in-out 0.2s;
}

.coinContainer {
  display: flex;
  flex-direction: column;
}

.loadingMssg {
  color: #111111;
}
